<% if post.favorite?(current_user) %>
  <%= link_to post_favorites_path(post.id), method: :delete, class: "text-decoration-none", remote: true do %>
    <div class="text-danger border border-2 border-danger p-2 rounded">❤︎ いいね <%= post.favorites.count %></div>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post.id), class: "text-decoration-none", method: :post, remote: true do %>
    <div class="text-secondary border border-2 border-secondary p-2 rounded">♡ いいね <%= post.favorites.count %></div>
  <% end %>
<% end %>
