.post_image {
  height: 300px;
  object-fit: cover;
}

/*paginate*/
.pagination>li {
  margin: 0 5px;
}

.pagination>li>a {          
  border: none;
  padding: 15px 22px;   
  color: #696969;
  border-radius: 50%;
}

.pagination>.active>a {     
  border-radius: 50%;
  background-color: rgb(25,135,83) !important;;   
}

.pagination>li>a:hover {        
  border-radius: 50%;   
}

.page-item:first-child .page-link {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 50%;
}

.first-view {
  height: 400px;
  background-color: rgb(25,135,83);
}

.entry-btn {
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 20px;
}

.entry-btn:hover {
  color: white;
  opacity: 0.5;
}

.seasonal {
  background-image: url(seasonal.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
}

.seasonal h3, p, .seasnal-btn {
  opacity: 0.7;
  font-family: serif;
}
.seasnal-btn {
  color: rgb(25,135,83);
  border: 2px solid rgb(25,135,83);
  padding: 20px 30px;
  border-radius: 40px;  
}
.seasnal-btn:hover {
  color: rgb(25,135,83);
  opacity: 0.5;  
}
